.principal {
    display:flex;
    margin-top: 50px;
    width:20vw;
    padding-left:20px;
    padding-top: 20px;
    top:10px;
}


.cardd {
   display:flex;
   justify-content: space-between;
   top:20px;

}



.newCard {
    margin:20px;

}

